In [48]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [5]:
df['Age'].fillna(df['Age'].median(), inplace=True)

C:\Users\drewj\AppData\Local\Temp\ipykernel_28388\1933487976.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [7]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [9]:
df['Embarked'] = df['Embarked'].map({'Q': 0, 'S': 1, 'C' : 2})

In [10]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,NaN,0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,NaN,1
2,894,0,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,NaN,0
3,895,0,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,NaN,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",0,27.0,0,0,A.5. 3236,8.0500,NaN,1
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,108.9000,C105,2
415,1307,0,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,1
416,1308,0,3,"Ware, Mr. Frederick",0,27.0,0,0,359309,8.0500,NaN,1
417,1309,0,3,"Peter, Master. Michael J",0,27.0,1,1,2668,22.3583,NaN,2

In [13]:
df = df.drop(columns=['Name', "Cabin", "Ticket"])

In [20]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 417 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  417 non-null    int64
 1   Survived     417 non-null    int64
 2   Pclass       417 non-null    int64
 3   Sex          417 non-null    int64
 4   Age          417 non-null    Int64
 5   SibSp        417 non-null    int64
 6   Parch        417 non-null    int64
 7   Fare         417 non-null    float64
 8   Embarked     417 non-null    int64
dtypes: Int64(1), float64(1), int64(7)
memory usage: 33.0 KB

In [22]:
df['Age'] = df['Age'].astype("Int64")
df['Fare'] = df['Fare'].astype("int64")

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 417 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  417 non-null    int64
 1   Survived     417 non-null    int64
 2   Pclass       417 non-null    int64
 3   Sex          417 non-null    int64
 4   Age          417 non-null    Int64
 5   SibSp        417 non-null    int64
 6   Parch        417 non-null    int64
 7   Fare         417 non-null    int64
 8   Embarked     417 non-null    int64
dtypes: Int64(1), int64(8)
memory usage: 33.0 KB

In [35]:
X = df.drop("Survived", axis=1)
y = df["Survived"]

In [36]:
X

     PassengerId  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0            892       3    0   34      0      0     7         0
1            893       3    1   47      1      0     7         1
2            894       2    0   62      0      0     9         0
3            895       3    0   27      0      0     8         1
4            896       3    1   22      1      1    12         1
..           ...     ...  ...  ...    ...    ...   ...       ...
413         1305       3    0   27      0      0     8         1
414         1306       1    1   39      0      0   108         2
415         1307       3    0   38      0      0     7         1
416         1308       3    0   27      0      0     8         1
417         1309       3    0   27      1      1    22         2

[417 rows x 8 columns]

In [37]:
y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 417, dtype: int64

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [39]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [40]:
model = LogisticRegression(penalty='l2', C=0.1, solver='lbfgs', max_iter=1000, random_state=42)

In [41]:
model.fit(X_train_scaled, y_train)

LogisticRegression(C=0.1, max_iter=1000, random_state=42)

In [42]:
y_pred = model.predict(X_test_scaled)

In [43]:
accuracy = accuracy_score(y_test, y_pred)
print(f"\nAccuracy Score: {accuracy:.4f}")
print(classification_report(y_test, y_pred))

Accuracy Score: 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [47]:
prob = model.predict_proba(X_test_scaled)[:5]
print("Predicted Probabilities for first 5 test samples:")
for i, prob in enumerate(prob):
    print(f"Sample {i+1}: Didn't Survive: {prob[0]:.4f}, Survived: {prob[1]:.4f}")

Predicted Probabilities for first 5 test samples:
Sample 1: Didn't Survive: 0.1024, Survived: 0.8976
Sample 2: Didn't Survive: 0.9548, Survived: 0.0452
Sample 3: Didn't Survive: 0.1231, Survived: 0.8769
Sample 4: Didn't Survive: 0.9472, Survived: 0.0528
Sample 5: Didn't Survive: 0.0970, Survived: 0.9030